.mat-toolbar {
    display: flex;
    justify-content: space-between;
}

.mat-toolbar>div {
    flex: 1;
}

.header-name {
    display: flex;
    justify-content: center;
}
.usermenu{
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: 0;
    color: white;
}

.profile-image-toolbar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.login-register-buttons{
    display: flex;
    justify-content: flex-end;
}
