<mat-toolbar class="mat-toolbar" color="primary">
    <div>
        <button mat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </button>

        <button mat-button routerLink="/catalog">

            Catalog
        </button>


        <button mat-button routerLink="/search">
            Search
        </button>

        <ng-container *ngIf="isLoggedIn">
            <button mat-button routerLink="/add-item">
                Add item
            </button>
        </ng-container>
    </div>

    <div class="header-name">
        <p>Buy & Sell</p>
    </div>


    <div class="login-register-buttons">
        <div>
            <ng-container *ngIf="user$ | async as user">
                <button class="usermenu" [matMenuTriggerFor]="userMenu">
                    <img class="profile-image-toolbar"
                        [src]="user.imageUrl?? '../../../assets/default-user-photo.png'" />
                    <div>
                        {{ user.displayName }}
                    </div>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="!isLoggedIn">
                <button mat-button routerLink="login">
                    <mat-icon>login</mat-icon>
                    Login
                </button>

                <button mat-button routerLink="register">
                    Register
                </button>
            </ng-container>
        </div>
    </div>
</mat-toolbar>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        Profile
    </button>

    <button mat-menu-item routerLink="/profile-edit">
        <mat-icon>edit_profile</mat-icon>
        Edit-profile
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item routerLink="/user-posts">
        <mat-icon>collections</mat-icon>
        My posts
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>