<div class="form-container mat-elevation-z5">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required!
            </mat-error>
            <mat-error *ngIf="email?.errors?.['appEmailValidator']">
                Please enter a valid email address!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" type="password"/>
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required!
            </mat-error>
            <mat-error *ngIf="password?.errors?.['minlength']">
                Password must be atleast 5 characters long!
            </mat-error>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit" >
                Login
            </button>
        </div>       
        <span class="center margin-top">Not registered yet? <a class= "register-link" routerLink="/register">Register!</a></span>
    </form>
</div>