<div class="form-container mat-elevation-z5">
<h1>Register</h1>
<form [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" [formControl]="usernameControl" />
                <mat-error *ngIf="usernameControl?.errors?.['required']">
                    You must enter a username!
                </mat-error>
                <mat-error *ngIf="usernameControl?.errors?.['minlength']">
                    Username should be at least 5 characters long!
                </mat-error>           
        </mat-form-field>   
    
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput type="text" [formControl]="emailControl" />
            <mat-error *ngIf="emailControl.errors?.['required']"> 
                You must enter an email adress!
            </mat-error>
            <mat-error *ngIf="emailControl.errors?.['appEmailValidator']">
                Please enter a valid email address!
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [formControl]="passwordControl" />            
                <mat-error *ngIf="passwordControl?.errors?.['required']">
                    You must enter a password!
                </mat-error>
                <mat-error *ngIf="passwordControl?.errors?.['minlength']">
                    Password should have be least 5 characters long!
                </mat-error>
        </mat-form-field>     

        <mat-form-field >
            <mat-label>Repeat password</mat-label>
            <input 
                matInput
                type="password"                
                [formControl]="rePasswordControl"   
                name="rePassword"
                (invalid)="form.errors?.['passwordMismatch']" 
            />          
            <mat-error *ngIf="rePasswordControl?.errors?.['required']">
                You must enter the password!
            </mat-error>
            <mat-error *ngIf="rePasswordControl?.errors?.['passwordMismatch']">
                Passwords must match!
            </mat-error>
                <!-- <mat-error *ngIf="rePasswordControl?.errors?.['matchPasswordsValidator'] ||
                rePasswordControl?.errors?.['required']">
                    Repeat password should have be least 5 characters long!
                </mat-error> -->
        </mat-form-field>    
    

    <div class="center margin-top">
        <button 
            mat-raised-button 
            color="primary" 
            type="submit" 
            [disabled]="!form.valid"            
        >
            Register
        </button>
    </div>
    <span class="center margin-top">Already registered?  <a class= "login-link" routerLink="/login">Login!</a></span>
</form>
</div>