<div class="form-container mat-elevation-z5">
    <div class="search-container">
        <form [formGroup]="searchForm" class="form">
            <mat-form-field>
                <mat-label>Search by name</mat-label>
                <input matInput class="inputfield" placeholder="Search by name" formControlName="search" />
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="searchItems()">
                <mat-icon>search</mat-icon>
                Search
            </button>
        </form>

        <div class="result-container">
            <div class="search-result" *ngFor="let item of searchResults">
                <mat-card [routerLink]="['/post-details/', item.item_id]">

                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>{{item.item_name}}</mat-card-title>
                            <mat-card-subtitle>{{item.item_price}} euro.</mat-card-subtitle>

                            <div class="image-container">
                                <img mat-card-md-image src="{{item.item_imageUrl}}" alt="image">
                            </div>
                        </mat-card-title-group>
                    </mat-card-header>


                </mat-card>
            </div>
        </div>


    </div>
</div>