<div class="form-container mat-elevation-z5">
    <div class="search-container">
        <form [formGroup]="searchForm" class="form">
            <mat-form-field class="inputfield">
                <mat-label>Search by name</mat-label>
                <input matInput  placeholder="Search by name" formControlName="search" />
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="searchItems()">
                <mat-icon>search</mat-icon>
                Search
            </button>
        </form>

        <!-- <div class="result-container"> -->
            <ng-container *ngIf="searchResults.length > 0 ">
                <mat-grid-list cols="3" rowHeight="350px">
                    <mat-grid-tile *ngFor="let item of searchResults">
            
                        <mat-card class="card" [routerLink]="['/post-details/', item.item_id]">
            
                            <mat-card-title>{{item.item_name}}</mat-card-title>
                            <mat-card-subtitle>{{item.item_price}} euro.</mat-card-subtitle>
            
                            <div class="image-container">
                                <img mat-card-md-image src="{{item.item_imageUrl}}" alt="image">
                            </div>
            
                        </mat-card>
            
                    </mat-grid-tile>
                </mat-grid-list>
            </ng-container>
        <!-- </div> -->
        <ng-container *ngIf="showNoResultMessage">
            <div>

                <div class="message-container">
                    <h2>We could't find anything!</h2>
                </div>

            </div>
        </ng-container>

    </div>
</div>