.profile-image {
    position: relative;
    width: 120px;
    margin: auto;
  }
  
  .profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .form-container {
    max-width: 400px;
  }
  
  .row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

.names {
  display: flex;
  justify-content: center;
}

.contact-info{
  margin: 0 auto;
}

.name{
  margin: 0 auto;
}

div>p {
  font-family: Arial, sans-serif;
  padding-left: 10px;
}

