<div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
    <h1>Welcome {{user.displayName}}</h1>
    <div class="profile-image">
        <img width="120" height="120" class="margin-top mat-elevation-z1"
        [src]="user.imageUrl?? '../../../assets/default-user-photo.png'" />
    </div>
    <mat-divider></mat-divider>
    <div class="margin-top names">
        <div class="row">
            <p >{{user.firstName}}</p>
            <p >{{user.lastName}}</p>
        </div>        
    </div>

    <div class="row margin-top">
        <p class="contact-info">{{user.address}}</p>        
    </div>

    <div class="row margin-top">
        <p class="contact-info">{{user.phone}}</p>
        <p class="contact-info">{{user.email}}</p>
    </div>

    <div class="row margin-top">
        <p>{{user.description}}</p>
    </div>
    
    <div >
        {{user.description}}
    </div>    

</div>