<div class=" form-container catalog-container mat-elevation-z5">
    <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile *ngFor="let item of userItems">

            <mat-card class="card">
            
                
                <mat-card-title>{{item.item_name}}</mat-card-title>
                <mat-card-subtitle>{{item.item_price}} euro.</mat-card-subtitle>
                
                <div class="image-container">
                    <img mat-card-md-image src="{{item.item_imageUrl}}" alt="image">
                </div>
                
                <div class="button-container">
    
                    <mat-card-actions>
                        <button mat-raised-button color="primary" [routerLink]="['/post-edit/', item.item_id]">Edit</button>
                        
                        <button mat-raised-button color="warn" (click)="openConfirmationDialog(item.item_id)">Delete</button>
                    </mat-card-actions>
                </div>
            </mat-card>

        </mat-grid-tile>

        <div *ngIf="userItems.length === 0">
                
                <div class="message-container">
                    <h2>You have no posts yet!</h2>
                </div>
            
            </div>
    </mat-grid-list>

    <div class="loader" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

</div>