<div class=" form-container catalog-container mat-elevation-z5">
    <mat-grid-list cols="3" rowHeight="350px">
        <mat-grid-tile *ngFor="let item of items">

            <mat-card class="card" [routerLink]="['/post-details/', item.item_id]">

                <mat-card-title>{{item.item_name}}</mat-card-title>
                <mat-card-subtitle>{{item.item_price}} €</mat-card-subtitle>

                <div class="image-container">
                    <img mat-card-md-image src="{{item.item_imageUrl}}" alt="image">
                </div>

            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>

    <div class="loader" *ngIf="isLoading">
        <app-loader></app-loader>
    </div>

</div>

