.card-content{
    display: flex;
    justify-content: center;
}

.example-card {    
    max-width: 700px;
    min-width: 600px;
}

.post-image{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.owner-name {
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.description-devider{
    margin: 8px 0;
    
}