.card-content{
    display: flex;
    justify-content: center;
}

.example-card {    
    max-width: 400px;
}

img {
    max-width: 400px;
    max-height: 200px;
}

.post-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.owner-name {
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}