<div class="card-content" *ngIf="item && owner">
    <mat-card class="example-card">
        <mat-card-header>
            <img mat-card-avatar [src]="owner.imageUrl?? '../../../assets/default-user-photo.png'">
            <mat-card-title class="owner-name">{{owner.displayName}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <img class="post-image" src='{{item.item_imageUrl}}' alt="image">

        <mat-card-content>
            <h1>{{item.item_name}}</h1>
            <p>Price: {{item.item_price}} euro.</p>
            <mat-divider class="description-devider"></mat-divider>
            <p >
                {{item.item_description}}
            </p>
        </mat-card-content>
        
        <!-- TODO logged user and not owner -->
        <div class="button-container" *ngIf="user$ | async as user">
            <mat-card-actions>
                <button mat-raised-button color="primary">Buy</button>               
            </mat-card-actions>
        </div>
    </mat-card>
</div>