<div class="home-conteiner">
    <div class="home-logo">
        <img src="../../../assets/Buy & Sell-1(1).png" alt="B&S logo">
    </div>

    <!-- <article>
        <p>
            Welcome to <span class="logo">Buy & Sell</span> – your ultimate online marketplace for discovering
            treasures and turning your unused items into opportunities. Whether you're looking to buy unique finds or
            sell your own creations, our platform connects a community of enthusiasts ready to explore, connect, and
            trade. Join us in embracing the joy of buying and selling, where every interaction is a chance to uncover
            something extraordinary.
        </p>
    </article> -->

    <div class="intro-text">
        <p>Explore <span class="logo">Buy & Sell</span>: Your hub for seamless buying and selling. Join our community
            and discover a world of unique listings. Below you can preview a selection of exciting opportunities.</p>
    </div>

</div>

<div>
    <app-carousel></app-carousel>
</div>

<div class="home-conteiner">
    <div class="intro-text">
        <p>Dive in to explore a curated selection of listings that showcase the diverse array of products available.
            Whether you're seeking vintage collectibles, modern gadgets, or handcrafted treasures, our carousel provides
            a glimpse into the vibrant marketplace that <span class="logo">Buy & Sell</span> offers. Join our community today and embark on a
            journey of exploration, connection, and fulfillment.</p>
    </div>

</div>