<div class="home-conteiner">
    <div class="home-logo">
        <img src="../../../assets/Buy & Sell-1(1).png" alt="B&S logo">
    </div>

    <div>
        <article>
            <p>
                At <span class="logo">Buy & Sell</span>, we've created a user-friendly platform that connects buyers and sellers from all
                walks of life. Our mission is to empower individuals like you to turn your unused belongings into cash
                or find incredible deals on items you've been dreaming of.
            </p>
            Why Choose <span class="logo">Buy & Sell</span>?
            <ol>
                <li><b>Easy Listing Process:</b> Selling your items should be a breeze. Our intuitive listing process allows
                    you to
                    create eye-catching product pages with vivid images and detailed descriptions. Whether it's fashion,
                    electronics, furniture, or handmade crafts, we've got a category for every item.</li>
                <li><b>Secure Transactions:</b> Your safety is our top priority. We've implemented robust security measures to
                    ensure smooth and secure transactions for all users. Our payment system is encrypted, protecting
                    your
                    financial information at all times.</li>
                <li><b>Global Reach:</b> Join a vast community of sellers and buyers from around the world. Our platform
                    transcends
                    geographical boundaries, making it possible for your items to find interested buyers from various
                    corners of the globe.</li>
                <li><b>Search and Discover:</b> Looking for something specific? Our smart search algorithm helps you find
                    precisely
                    what you need, saving you time and effort. Explore a wide range of products and filter your search
                    to
                    find the perfect match.</li>
                <li><b>Seller Ratings and Reviews:</b> Trust is vital in any online marketplace. Benefit from our seller
                    ratings
                    and reviews system, which allows buyers to share their experiences, ensuring you deal with reliable
                    and
                    reputable sellers.</li>
                <li><b>Customer Support:</b> Need assistance? Our dedicated customer support team is here to help you with any
                    questions or concerns you may have. We value your experience on our platform and strive to make it
                    exceptional.</li>
                <li><b>Mobile App:</b> Stay connected and never miss an opportunity to buy or sell with our user-friendly
                    mobile
                    app. It's designed to keep you in the loop, no matter where you are.</li>
            </ol>
            <p>
                Join <span class="logo">Buy & Sell</span> today and experience the thrill of turning your unused items into cash or finding
                incredible bargains on things you love. Become a part of our vibrant community, where people come
                together to buy, sell, and connect over shared interests.

                Start your journey with us and unlock the true potential of your belongings. Happy buying and selling!
            </p>
        </article>
    </div>
</div>