<div class="home-conteiner">
    <div class="home-logo">
        <img src="../../../assets/Buy & Sell-1(1).png" alt="B&S logo">
    </div>

    <article>
        <p>
            Welcome to <span class="logo">Buy & Sell</span> – your ultimate online marketplace for discovering
            treasures and turning your unused items into opportunities. Whether you're looking to buy unique finds or
            sell your own creations, our platform connects a community of enthusiasts ready to explore, connect, and
            trade. Join us in embracing the joy of buying and selling, where every interaction is a chance to uncover
            something extraordinary.
        </p>
    </article>

</div>