.add-post-link {
    font-size: 1.2rem;
    margin-left: 8px;
}

.description-container {
    height: 200px;
}

textarea{
    min-height:150px;
    max-height:250px;
    min-width:100%;
    max-width:100%;
}