<div class="form-container mat-elevation-z5">
    <h1>Edit Item</h1>
    <form [formGroup]="editItemForm" *ngIf="item" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text"  name="name" value="{{item.item_name}}" formControlName = "item_name" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="text"  name="price" placeholder="price" formControlName = "item_price"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ImageURL</mat-label>
            <input matInput type="text"  name="imageUrl" placeholder="imageUrl" formControlName = "item_imageUrl" />
        </mat-form-field>

        <mat-form-field class="description-container">
            <mat-label>Description</mat-label>
            <textarea matInput type="text"  name="Description" placeholder="Description" formControlName = "item_description"></textarea>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit" >
                Edit
            </button>
        </div>      
        
    </form>
</div>